.center {
    text-align: center;
}
#link-to-png, #link-to-svg {
    font-style: italic; display: none;
}
ol ol {
    list-style-type: lower-alpha;
}
#language-box {
    position: absolute;
    top: 5px;
    right: 10px;
    font-family: sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}
#language-box a {
    color: blue;
    display: block;
    padding-bottom: .5ex;
}
#language-box ul {
    display: none;
    list-style: none;
    margin: 0 0 0 -0.5em;
    padding: 0.5em;
    width: 100%;
    border: 1px black dashed;
    background-color: white;
}
#language-box ul li {
    padding: .2ex 0;
}
#language-box ul li.selected {
    font-weight: bold;
}
#language-box:hover ul {
    display: block;
}
@media print {
    #language-box {
        display: none;
    }
}
